[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"
rope = "*"

[packages]
kafka-python = "*"
logzero = "*"
cloudant = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[requires]
python_version = "3.7.5"

[scripts]
dev = "uvicorn main:app --host 0.0.0.0 --reload"
app = "uvicorn main:app --host 0.0.0.0 --port 5000"

[pipenv]
allow_prereleases = true
