[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"

[packages]
pyspark = "*"
logzero = "*"
pydantic = "*"
kafka-python = "*"

[requires]
python_version = "3.6"

[scripts]
dev = "python main.py"

[pipenv]
allow_prereleases = true
