[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
jedi = "*"
rope ="*"

[packages]
kafka-python = "*"
python-dotenv = "*"
logzero = "*"
cloudant = "*"

[requires]
python_version = "3.7.8"

[scripts]
dev = "python app.py"

[pipenv]
allow_prereleases = true
