.content-table {
  padding: 50px;
}

.content-table h2 {
  padding-left: 10px;
}

.content-table li {
  margin-bottom: 10px;
}

.content-table li a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}
