@import './content_table.scss';
@import './articles.scss';

body {
  background: #eaedf0;
  font-family: 'Noto Serif', serif;
}

a {
  text-decoration: none !important;
}

.author {
  color: #bbb;
  font-size: 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.author-signature {
  display: inline-block;
  color: #838383;
  padding: 10px 20px;
  width: auto;
  font-size: 24px;
  border-radius: 0;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  transition: color 1s, font-size .5s;
  font-family: 'Mansalva', cursive;
  text-decoration: none;
}

.author-signature:hover {
  color: #d09e54;
  transition: color 1s, font-size .5s;
  font-size: 26px;
}

.kafka-container {
  width: 400px;
  height: 600px;
  max-height: 90vh;
  max-width: 90vw;
  background: #fffef8;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  box-shadow: 0px 20px 97px -2px rgba(0,0,0,0.35);
  border-left: solid 5px #d09e54;
  border-radius: 0 15px 15px 0;
}

.kafka-container--inner {
  height: calc(100% - 3px);
  overflow: scroll;
}

.kafka-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e65a5a;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 50px;
  transition: background 1s;
}

.kafka-image__dark {
  background: #111;
  transition: background 1s;
  img {
    width: 200px;
  }
}

.title {

  &--main {
    font-size: 50px;
    font-weight: 900;
    color: #838383;
    font-family: 'PT Mono', monospace;
    display: flex;
    justify-content: center;
    > span {
      width: 17%;
      transform: translateX(10px);
    }
  }

  &--sub {
    font-size: 18px;
    color: #b4b2b2;
    margin: 15px auto;
    letter-spacing: 9px;
    text-align: center;
    transform: translateX(2px);
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.info-container {
  margin: 50px auto;
  padding: 20px;
  height: auto;
}

.instruction {
  padding: 20px;
  font-size: 18px;
  color: #888;
  line-height: 24px;
}

.footer {
  position: relative;
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.request-count-input {
  border: none;
  border-bottom: solid 1px #ccc;
  position: fixed;
  font-size: 20px;
  top: 10px;
  left: 10px;
  background: transparent;
  width: 50px;
  color: gray;
}

.hint {
  top: 40px;
  left: 10px;
  position: absolute;
  color: gray;
  width: 50px;
}

.bookmarker {
  height: 0px;
  width: 13px;
  background-color: transparent;
  position: absolute;
  top: 48px;
  right: -45px;
  border: solid 17px #B13A22;
  border-right: solid 15px transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    width: 20px;
    transform: translate(7px);
    border-color: #e7595a;
    border-right-color: transparent;
  }
}

.article-container--post__body--content {
  color: #485052;
  font-size: 11pt;
}


.stream-form-button {
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  color: #485052;
  opacity: .5;
  transition: padding 0.2s, color 0.2s, opacity 0.2s;

  &:hover {
    padding: 0px 20px;
    color: #e65a5a;
    opacity: 1;
  }
}

.stream-form--count {
  font-size: 20px;
  color: #485052;
}

.stream-count-input {
  width: 50px;
  border: none;
  margin-left: 10px;
  font-size: 20px;
  font-style: italic;
  color: #485052;
  background: transparent;
}

.kafka-stream-form {
  padding-bottom: 10px;
  border-bottom: dashed 2px #ddd;
}

.warning-text {
  color: red;
  font-style: italic;
  margin: 10px 0px;
}
