@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

body {
  background: #e9f0f2;
  font-family: 'Heebo', sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

button {
  padding: 5px 15px;
  background: #999;
  color: #eee;
  border-radius: 5px;
}

small {
  font-size: 0.8rem;
  color: #ccc;
}

.row {
  padding: 10px;
  display: inline-block;
  color: white;
  background: white;
  margin: 10px;
  border-radius: 7px;
  width: 10vw;
  overflow: hidden;
  box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.24);
  animation: fadeIn ease 200ms;
  text-align: left;

  hr {
    margin: 10px -10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.doc-id {
  margin: -10px;
  padding: 7px;
  background: #ddd;
  color: #888;
  word-wrap: break-word;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
}

.page-title {
  font-weight: 900;
  font-size: 1.5rem;
}

.legends {
  width: auto;
  max-width: 60vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background: white;
  border-radius: 3px;
}

.legends-item {
  display: flex;
  width: auto;
  margin: 0 10px;
}

.legends-color {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.legends-text {
  margin: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.row--red {
  background: rgb(252,18,79);
  background: linear-gradient(228deg, rgba(252,18,79,1) 0%, rgba(255,101,201,1) 100%);
}

.row--yellow {
  background: rgb(255,113,0);
  background: linear-gradient(228deg, rgba(255,113,0,1) 0%, rgba(235,195,0,1) 100%);
}

.row--green {
  background: rgb(2,212,116);
  background: linear-gradient(228deg, rgba(2,190,100,1) 0%, rgba(140,233,145,1) 100%);
}

.row--blue {
  background: rgb(35,148,255);
  background: linear-gradient(45deg, rgba(105,208,255,1) 0%, rgba(47,70,251,1) 100%);
}

.row--purple {
  background: rgb(194,84,230);
  background: linear-gradient(9deg, rgba(194,84,230,1) 0%, rgba(102,39,217,1) 100%);
}

.doc-container {
  height: 50vh;
  overflow: scroll;
  padding: 0px;
  width: 100vw;
  margin: 0px;
  text-align: center;
}

.divider {
  border-color: darkgreen;
  margin: 10px 20vw;
}

.footer {
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
}
